[Desktop Entry]
Version=1.0
Type=Application
Name=PlumaMD
Comment=Editor Markdown con vista previa
TryExec=plumamd
Exec=plumamd %F
Icon=/usr/share/icons/hicolor/512x512/apps/plumamd.png
Terminal=false
StartupWMClass=plumamd
X-GNOME-StartupWMClass=plumamd
X-GNOME-StartupNotify=true
Categories=Utility;Office;TextEditor;
MimeType=text/markdown;text/x-markdown;
